.qzz-modal-active {
    overflow: hidden!important;
    height: 100%!important;
    width: 100%!important;
    position: fixed!important
}
.qzz-modal-active *,
.qzz-modal-active *:before,
.qzz-modal-active *:after {
    -o-transform: none!important;
    -moz-transform: none!important;
    -ms-transform: none!important;
    -webkit-transform: none!important;
    transform: none!important;
    -webkit-transform-style: flat!important;
    position: static!important;
    z-index: 0!important;
    height: 100%!important
}
.qzz-modal-active iframe,
.qzz-modal-active input {
    position: absolute!important;
    top: -9999em!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important;
    height: 10px!important;
    width: 10px!important
}
.quizz-container {
    width: 100%!important;
    height: auto!important
}
.quiz-modal-close {
    display: none;
    position: fixed!important;
    font-family: 'Helvetica Neue', 'Arial', sans-serif!important;
    top: 0!important;
    right: 24px!important;
    background: rgba(0, 0, 0, .7)!important;
    color: #EEEFF8!important;
    white-space: nowrap!important;
    border-radius: 0 0 2px 2px!important;
    overflow: hidden!important;
    padding: 0 12px!important;
    line-height: 35px!important;
    font-size: 12px!important;
    text-align: center!important;
    text-transform: uppercase!important;
    font-weight: 700!important;
    height: auto!important
}
.quiz-modal-close:hover {
    text-decoration: none!important;
    opacity: .9!important
}
.qzz-is-active .quiz-modal {
    background: rgba(34, 36, 38, .97)!important;
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    bottom: 0!important;
    right: 0!important;
    z-index: 2147483647!important;
    overflow: auto!important;
    overflow-y: scroll!important;
    -webkit-overflow-scrolling: touch!important
}
.qzz-is-active .quiz-modal-content {
    width: 100%!important
}
.qzz-is-active .quiz-modal-close {
    display: block!important
}
.qzz-is-paused {
    position: relative!important;
    font-family: 'Helvetica Neue', 'Arial', sans-serif
}
.qzz-is-paused:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 36, 38, .5);
    z-index: 1000001
}
.qzz-is-paused:after {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 700;
    line-height: 55px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgba(107, 120, 133, 1);
    background: #fff;
    border-radius: 10000px;
    border: 3px solid rgba(107, 120, 133, 1);
    box-shadow: 0 3px 4px rgba(34, 36, 38, .3);
    content: 'Resume quiz';
    white-space: nowrap;
    display: block;
    left: 50%;
    padding: 0 26px;
    position: absolute;
    top: 50%;
    z-index: 1000002
}
.quiz-modal .fluid-width-video-wrapper[style] {
    padding-top: 0!important;
    height: 100%
}
.quiz-modal .fluid-width-video-wrapper iframe {
    width: 100%!important;
    height: 100%!important;
    position: static!important
}
.quiz-modal-content div {
    height: 100%!important;
    width: 100%!important
}
