{% extends "baseadmin.html" %}

<body ng-app="qw">
      <hr>
      {% raw %}
      <div ng-controller="QwHeaderController">
	<h1>Hello  {{yourName}} !</h1>
      </div>
      {% endraw %}

    <br>

    <h3><a href="/admin">Admin</a></h3>

    <br>
    
    <div class="container">
      {% for quiz in quizes %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg" class="">
                    <div class="caption text-center">
                        <h3 class="">When is the Business &amp; Entrepreneurs Workshop?</h3>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h3><span class="label label-info">Jun 12</span></h3>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <h3><span class="label label-info">Jun 13</span></h3>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <h3><span class="label label-info">Jun 14</span></h3>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <h3><span class="label label-info">Jun 15</span></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
	{% endfor %}

{% raw %}
	<div ng-controller="QwController">
	  {{quiz.name}}
	  <ul ng-repeat="question in quiz.questions">
	    <li>{{question.text}}</li>
	    <ul ng-repeat="answer in question.answers">
	      <li>
		{{answer}}
	      </li>
	    </ul>
	  </ul>
	</div>
	      
	    
	  
{% endraw %}

	  <form action="" method="post" accept-charset="utf-8">
	    <p><input type="text" name="name" placeholder="Name" id="name"></p>
	    <p><input type="text" name="result" placeholder="Result" id="result"></p>

	  {% for question in questionsperquiz %}
	  <p>
	    <input type="text" name="question{{loop.index}}text" placeholder="Question {{loop.index}}" id="question{{loop.index}}text">
	    <input type="text" name="question{{loop.index}}picurl" placeholder="Picture URL" id="question{{loop.index}}picurl">
	    <input type="text" name="question{{loop.index}}correctanswer" placeholder="Correct Answer" id="question{{loop.index}}correctanswer">
	    <p>
	    	<input type="text" name="answer{{loop.index}}1text" placeholder="Answer {{loop.index}}" id="answer{{loop.index}}1text">
	    	<input type="text" name="answer{{loop.index}}2text" placeholder="Answer {{loop.index}}" id="answer{{loop.index}}2text">
	    	<input type="text" name="answer{{loop.index}}3text" placeholder="Answer {{loop.index}}" id="answer{{loop.index}}3text">
	    	<input type="text" name="answer{{loop.index}}4text" placeholder="Answer {{loop.index}}" id="answer{{loop.index}}4text">
	    </p>
	  </p>
	  {% endfor %}
	  <p><input type="submit" value="Submit"></p>
	</form>

	
	<script src="/assets/js/app.js"></script>
</body>

</html>
