<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title> QuizNation | Home </title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,900%7CGentium+Basic:400italic&amp;subset=latin,latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/demo.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/theme.min.css">
    <link rel="stylesheet" href="assets/css/corporate.min.css">
    <link rel="stylesheet" href="assets/css/quiznation-home.css">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="assets/img/favicons/favicon.ico"> </head>

<body class="pace-on pace-minimal transparent-header">
    <div class="pace-overlay"></div>
    <div class="menu navbar navbar-static-top header-logo-left-menu-right text-none oxy-mega-menu navbar-sticky" id="masthead">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target=".main-navbar" data-toggle="collapse" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="/"> <img src="assets/img/logo-text-150px-grey.png" alt="QuizNation Home" class="logo-img">
                </a>
            </div>
            <div class="nav-container">
                <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right">
                    <div class="menu-container">
                        <ul class="nav navbar-nav" id="menu-main">
                            <li class="menu-item active  "> <a href="/">Home</a> </li>
                            <li class="menu-item  "> <a href="#quizzes">Quizzes</a> </li>
                            <li class="menu-item  "> <a href="#features">Features</a> </li>
                            <li class="menu-item  "> <a href="#usecases">Use Cases</a> </li>
                            <li class="menu-item   "> <a href="#contact">Contact</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="content" role="main">
        <article>
            <section class="section lambda-hero">
                <div class="background-media" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/img/background-screenshot-1500px.png'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 50%;"></div>
                <div class="container">
                    <div class="row element-top-150">
                        <div class="col-md-4 text-center element-top-10 element-bottom-10">
                            <h2 class=" lambda-hero-h2 element-top-0 element-bottom-0 text-light os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.4s">Quizify</h2>
                        </div>
                        <div class="col-md-4 text-center element-top-10 element-bottom-10">
                            <h2 class=" lambda-hero-h2 element-top-0 element-bottom-0 text-light os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.5s">Share</h2>
                        </div>
                        <div class="col-md-4 text-center element-top-10 element-bottom-10">
                            <h2 class=" lambda-hero-h2 element-top-0 element-bottom-0 text-light os-animation normal" data-os-animation="fadeIn" data-os-animation-delay="0.6s"><strong>Engage</strong></h2>
                        </div>
                        <div class="col-md-12 text-center">
                            <a href="/quiz/new" class="btn btn-primary btn-lg text-normal element-top-60 element-bottom-80 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.8s" target="_self">Create a Quiz!</a>
                        </div>
                        <div class="col-md-12 text-center">
                            <a href="#quizzes" class="scroll-to scroll-to-id  element-top-40 element-bottom-60 text-light os-animationUp" data-os-animation="fadeInUp" data-os-animation-delay="0.9s"> <i class="fa fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="quizzes">
                            <h1 class="text-center element-top-70 os-animation big" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Take a Quiz
                    </h1>
                            <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                                <div class="divider-border-inner" style="width:60px;"> </div>
                            </div>
                            <p class="lead text-center center element-bottom-40" data-os-animation="none" data-os-animation-delay="0s"></p>
                            <div class="portfolio-container element-bottom-60">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portfolio-header clearfix">
                                            <div class="portfolio-filters pull-right"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio masonry no-transition magnific-all" data-col-lg="4" data-col-md="4" data-col-sm="4" data-col-xs="2" data-layout="fitRows" data-padding="15">
                                    {% for quiz in quizzes %}
                                    <div class="masonry-item portfolio-item filter-drinks filter-people" data-title="Quiz Tile Animation">
                                        <div class="figure portfolio-os-animation image-filter-blur image-filter-onhover fade-in from-right text-center figcaption-middle normalwidth" data-os-animation="bounceInDown" data-os-animation-delay="0s">
                                            <a class="figure-image magnific-vimeo" href="http://vimeo.com/104566183" target="_self"> <img alt="Take this Quiz!" class="normalwidth" src="{{quiz.pic_url}}">
                                                <div class="figure-overlay">
                                                    <div class="figure-overlay-container">
                                                        <div class="figure-caption">
                                                            <h3 class="figure-caption-title bordered bordered-small">
                                {{quiz.name}}<br>Click to Start!</h3>
                                                            <p class="figure-caption-description">{{quiz.subtitle}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="background-overlay grid-overlay-0" style="background-color: rgba(240,240,240,1);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="features">
                            <h1 class="text-center element-top-70 os-animation big" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Features
                    </h1>
                            <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                                <div class="divider-border-inner" style="width:60px;"> </div>
                            </div>
                            <p class="lead text-center center element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"> Quickly create beautiful and engaging quizzes, and understand which questions work better than others </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-container row element-bottom-50 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.05s">
                                <div class="col-md-3 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s"> <span class="service-simple-image">
                                <i class="fa fa-bolt fa-3x red"></i>
                            </span>
                                    <h2>Quick Start</h2>
                                    <p class="feature-text">Jump-start your quiz creation using our extensive public question database</p>
                                </div>
                                <div class="col-md-3 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s"> <span class="service-simple-image">
                                <i class="fa fa-mobile-phone fa-1x cyan"></i> 
                            </span>
                                    <h2>Responsive Design</h2>
                                    <p class="feature-text">Embed your quiz in your web-page without worrying what it'll look like on multiple devices</p>
                                </div>
                                <div class="col-md-3 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s"> <span class="service-simple-image">
                                <i class="fa fa-random fa-3x green"></i>
                            </span>
                                    <h2>Adaptive Ordering</h2>
                                    <p class="feature-text">No one likes a hard quiz! Questions in a quiz are ordered dynamically to maximize your quiz-taker's success rate</p>
                                </div>
                                <div class="col-md-3 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.4s"> <span class="service-simple-image">
                                <i class="fa fa-line-chart blue"></i>
                            </span>
                                    <h2>Analytics</h2>
                                    <p class="feature-text">See an engagement funnel for each quiz, track lead conversion rates, and analyze how each question is doing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="usecases">
                            <h1 class="text-center element-top-70 os-animation big" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Use Cases
                    </h1>
                            <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                                <div class="divider-border-inner" style="width:60px;"> </div>
                            </div>
                            <p class="lead text-center center element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"> No matter what content you are publishing on the web, chances are quizzes will help you get higher engagement</p>
                            <div class="list-container row element-bottom-50 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                                <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s"> <span class="service-simple-image">
                                <img alt="Crosshairs" src="assets/img/crosshairs.png" style="width: 100px; height: auto;">
                            </span>
                                    <h2>Lead Qualification</h2>
                                    <p class="feature-text">Quizzes help you interact with your site viewers and understand exactly what they are looking for. Now you can sign them up for an appropriate product or service offering right after the quiz!</p>
                                </div>
                                <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s"> <span class="service-simple-image">
                                <img alt="Smileys" src="assets/img/smiley.png" style="width: 100px; height: auto;">
                            </span>
                                    <h2>Community Engagement</h2>
                                    <p class="feature-text">8 of the 10 most engaging articles ever written are quizzes. Use quizzes to stimulate discussion and engagement on your community!</p>
                                </div>
                                <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s"> <span class="service-simple-image">
                                <img alt="Develop" src="assets/images/corporate/development.png">
                            </span>
                                    <h2>Training</h2>
                                    <p>Training doesn't always have to be a drag. Interact with your audience, wherever they may be, and make your trainings a two-way interactive and engaging experience!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <footer id="footer">
            <section class="section subfooter">
                <div class="container">
                    <div class="row element-top-10 element-bottom-10 footer-columns-1">
                        <div class="col-sm-12" style="text-align: center !important;">
                            <div class="sidebar-widget widget_social">
                                <ul class="unstyled inline social-icons social-simple social-normal">
                                    <li>
                                        <a data-iconcolor="#3b5998" href="https://www.facebook.com/pages/QuizNation/849262345123380"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#00acee" href="#"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#5FB0D5" href="#"> <i class="fa fa-linkedin"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#E45135" href="#"> <i class="fa fa-google-plus"></i> </a>
                                    </li>
                                    <li>
                                        <a data-iconcolor="#34526f" href="corporate-index.html"> <i class="fa fa-tumblr"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <a class="go-top go-top-circle" href="javascript:void(0)"> <i class="fa fa-angle-up"></i> </a>
    <script type="text/javascript">
        var oxyThemeData = {
            navbarHeight: 100,
            navbarScrolled: 90,
            navbarScrolledPoint: 20,
            menuClose: 'off',
            scrollFinishedMessage: 'No more items to load.',
            hoverMenu: {
                hoverActive: false,
                hoverDelay: 1,
                hoverFadeDelay: 200
            },
            siteLoader: 'on'
        };
    </script>
    <script src="assets/js/theme.min.js"></script>
</body>

</html>
