{% extends "baseadmin.html" %}

<div>
    {% block content %} {% raw %}
    <div ng-app="qw" ng-cloak ng-controller="EditQuizController">
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="questionText">
                    <a href="#" ng-click="selectQuizTitleSection()">Start Page</a>
                </li>
                <li class="questionText">
                    <a href="#" ng-click="selectQuestionSection()">Questions</a>
                    <ul>
                        <li ng-repeat="question in quiz.questions" ng-class="{'active':isCurrentQuestionActive(question)}">
                            <a href="#" ng-click="setCurrentQuestion(question)"><span class="badge">{{$index+1}}</span>&nbsp; <span class="questionText">{{question.text}}</span></a>
                        </li>
                        <li>
                            <a ng-click="createNewQuestion()"><i class="fa fa-2x fa-fw fa-plus questionText" style="vertical-align: middle;"></i><span class="questionText">&nbsp;&nbsp;Add a Question</span></a>
                        </li>
                    </ul>
                </li>
                <li class="questionText">
                    <a href="#" ng-click="selectShareSection()">Share</a>
                </li>
            </ul>
        </div>

        <div id="page-wrapper">

            <div class="container-fluid">
                <div class="row" id="questionsSection">
                    <div class="col-md-6">
                        <h3>{{sectionTitle}}</h3>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <button type="button" class="btn btn-success btn-block margin-bottom-20 margin-top-10" ng-click="saveQuiz()">Save Quiz</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary btn-block margin-bottom-20 margin-top-10" ng-click="saveQuiz()">Next <i class="fa fa-arrow-circle-o-right"></i>
                        </button>
                    </div>

                </div>
		<div class="row" ng-if="quizTitleSelected">
		  {% endraw %}
		  {% include "quizstarttile.html" %}
		  {% raw %}
		</div>
		<div class="row" ng-if="questionSectionSelected">
		  <div class="col-md-8">
		    {% endraw %}
		    {% include "editcard.html" %}
		    {% raw %}
		  </div>
		  <div class="col-md-4">
		    {% endraw %}
		    {% include "cardproperties.html" %}
		    {% raw %}
		  </div>
        </div>
        <!-- /#page-wrapper -->

        {% endraw %}
    </div>
    <!-- /#wrapper -->

    <script src="/assets/js/app.js"></script>
    {% endblock %}

</div>
