{% extends "baseadmin.html" %}


{% block sidebarmenu %}
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Quiz</a>
        </li>
        <li>
            <a href="/dashboard"><i class="fa fa-fw fa-bar-chart-o"></i> Analytics</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
        <div id="page-wrapper">

            <div class="container-fluid">

{% raw %}
<div ng-app="quiz" ng-cloak ng-controller="QuizController">
  <h3>Quizzes</h3>
  <ul>
    <li ng-repeat ="quiz in quizzes">
      <a href={{quiz.url}}>{{quiz.name}}</a>
    </li>
    <li>
      <a href="/quiz/new">New Quiz</a>
    </li>
  </ul>
</div>
<script src="/assets/js/services.js"></script>
<script src="/assets/js/quiz.js"></script>

{% endraw %}
</div>
</div>
{% endblock %}
