{% raw %}
<div class="col-md-8">
    <div ng-style="{'background-image':'url('+quiz.title_pic+')'}" class="quiztile titleslide panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12" style="color:white;">
                    <h1><strong>{{quiz.name}}</strong></h1>
                </div>
                <div class="col-xs-8 col-xs-offset-2 element-top-30" style="color: #909090;">
                    <h3><strong>{{quiz.subtitle}}</strong></h3>
                </div>
            </div>
            <div class="row margin-top-40 margin-bottom-40">
                <div class="col-xs-6 col-xs-offset-3">
                    <button type="button" class="btn btn-lg btn-block startbutton element-top-40 element-bottom-40">Start!</button>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span class="footer-logo-text">Made with&nbsp;<img src='/assets/img/logo-text-100px.png' style="vertical-align: middle;"/></span>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Title Slide Properties</div>
        <li class="list-group-item properties-sidebar">
            <p>Background Picture</p>
            <input type="text" class="form-control" placeholder="URL to your title picture ..." aria-describedby="sizing-addon3" ng-model="quiz.title_pic">
        </li>
        <li class="list-group-item properties-sidebar question-section">
            <p>Title</p>
            <input type="text" class="form-control" placeholder="140 character limit!" aria-describedby="sizing-addon3" ng-model="quiz.name">
        </li>
        <li class="list-group-item properties-sidebar question-section">
            <p>Subtitle</p>
            <input type="text" class="form-control" placeholder="140 character limit!" aria-describedby="sizing-addon3" ng-model="quiz.subtitle">
        </li>
    </div>
</div>
</div>


{% endraw %}